@charset "utf-8";

/* top menu */

.topnav {
    float: right;
    width: auto;
	z-index: 3004;
}


/* level 1 */

.topnav ul {
    float: right;
    list-style: none;
    padding: 25px 0 0 0;
    font-size: 12px;
    color: #696969;
    text-transform: uppercase;
}

.topnav ul li {
    float: left;
    padding: 20px 15px;
    border-right: 1px dashed #6b6b6b;
}

.topnav ul li.current_page_item, .topnav ul li:hover {
    border-bottom: 4px solid #ba0000;
    background: url(cs_skins/hover.gif) center bottom no-repeat;
}

.topnav ul li a {
    padding: 20px 10px;
    color: #696969;
	background-color:white;
}

.topnav ul li a:hover {
    color: #ba0000;
}

/* level 1 */



/* level 2 */

.topnav ul li ul {
    text-transform: none;
    padding: 0;
    margin: 0;
    top: 58px;
    left: 0;
    background: #fff;
}

.topnav ul li ul li {
    float: none;
    width: 120px;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px dashed #6b6b6b;
    display: block;
    position: relative;
}

.topnav ul li ul li:hover {
    background: none;
    border: none;
    border-bottom: 1px dashed #6b6b6b;
}

.topnav ul li ul li a {
    border: none;
    background: none;
    padding: 10px 15px;
    display: block;
}

.topnav ul li ul li a:hover {
    border: none;
    background: url(cs_skins/hover_vert.gif) no-repeat left;
}

/* level 2 */


/* menusm */

ul.menusm {
    list-style: none;
}

ul.menusm li {
    cursor: pointer;
    position: relative;
    z-index: /*IE7*/999;
}

ul.menusm li a {
    position: relative;
    z-index: 1000;
}

ul.menusm li ul {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 999;
}

ul.menusm li ul li ul {
    position: absolute;
    list-style: none;
}

/* menusm */

/* top menu */






/*- right_menu sliding - */

ul#sliding-navigation{
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3 , ul#sliding-navigation li.sliding-element a{
	display: block;
	width: 180px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
	background-color:white;
}

ul#sliding-navigation li.sliding-element h3{
	font-size:30px;
	color: #ff3000;
	font-weight: normal;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	margin-left:50px;
}

ul#sliding-navigation li.sliding-element a{

	font-size:14px;
	color: #1a1a1a;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	text-decoration: none;
	margin-left:50px;
}

/*- right_menu sliding - */